# Outputs
/dist
/tmp
/out-tsc
/bazel-out

# Dependencies
/node_modules

# IDEs and Editors
/.idea
/.project
/.classpath
/.cproject
/.settings
/.vscode/*
!/.vscode/extensions.json
!/.vscode/launch.json
!/.vscode/tasks.json
*.swp
*.swo
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/runtime.log

# System Files
Thumb.db
db.json

# Angular Workspace
/.angular
/.nx
/.cache

# Environment
src/environments/environment.prod.ts
src/environments/environment.ts
.env
.env.*

# Testing
/coverage
/e2e/dist
/e2e/screenshots
